#bodyFormation
{
    padding: 10px;
}

mat-card
{
    background-color: #1E1E1E;
}

.example-header-image img {
  width: 2cm;
  height: fit-content;
  height: auto;
  margin: auto;
  background-size: contain;
}

mat-card-subtitle
{
    color: grey;
}