<div id="bodyFormation">
    <mat-card appearance="outlined">
        <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>SCHOOL</mat-card-title>
                <mat-card-subtitle>1970-1970 (999 ans)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse incidunt neque maiores necessitatibus ad, illo iusto exercitationem explicabo distinctio laudantium.</mat-card-content>
    </mat-card>
</div>