<div id="bodyFormation">
    <mat-card appearance="outlined">

            <div class="row">
                <div class="col">
                    <div class="example-header-image"><img [src]="formation.icon" alt="icon"></div>
                </div>
                <div class="col-4">
                    <mat-card-title>{{formation.diploma}}</mat-card-title>
                    @if(formation.option){ <mat-card-subtitle>{{formation.option}}</mat-card-subtitle>}          
                    <mat-card-subtitle>{{formation.name}}</mat-card-subtitle>
                    <mat-card-subtitle>{{formation.start}}-{{formation.end}}</mat-card-subtitle>
                </div>
            </div>

        <br/>
        <mat-card-content>
            {{formation.description}}
        </mat-card-content>
    </mat-card>
</div>


<div class="row" style="border: solid red 1px;">
    <div class="col"> 1 </div>
    <div class="col"> 2 </div>
    <div class="col-4"> 3 </div>
    <div class="col"> 4 </div>
</div>