app {
    background-color: transparent;
    color: white;
    font-family: 'Cascadia Code', monospace;
}

#header {
    color: white;
    width: 100%;
    background-color: #1E1E1E;
    padding: 10px;
    text-align: center;
}

#divHeader
{
    margin: 10px;
    text-align: center;
}






#mat-toolbar-row
{
    justify-content: space-between;
    font-size: large;
    background-color: #1E1E1E;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

button
{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    flex: 1;
    display: flex;
}

a{
    margin-left: 2pt;
    text-decoration: none!important;
}




.content {
    position: relative;
    z-index: 1;
    /* Assure que le contenu est devant */
}

body{
    background-color: transparent;
}

app-star-background-component
{
        background-color: rgb(5, 5, 8);
        position: fixed;
        /* Fixé en arrière-plan */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        /* Toujours derrière */
        pointer-events: none;
        /* Ne bloque pas l'interaction */
        overflow: hidden;
}


