<div id="bodyFormation">
    <mat-card appearance="outlined" id="matCardBody">
        <div class="row" style="margin-left: auto; margin-right: auto; width: 100%;">
            <div class="col  d-flex align-items-center justify-content-center">
                <div class="header-image">
                    <img id="imgFormation" [src]="project.icon" alt="icon">
                </div>
            </div>
            <div class="col-10">
                <mat-card-title>{{project.name}}</mat-card-title>
                {{project.description}}
            </div>
        </div>
        <br>
        <mat-card-content>
            <p-carousel [value]="project.images" [numVisible]="2" [numScroll]="2" [circular]="true"
                autoplayInterval="30000" [responsiveOptions]="responsiveOptions">
                <ng-template let-item #item>
                    <ng-container>
                        <mat-card id="cardImgContent" (click)="onCardItemClick(item)">
                            <div id="divImgContent">
                                @switch (item.type) {
                                    @case ("Image") {
                                        <img id="imgContent" [src]="item.icon" alt="icon">
                                    }
                                    @case ("Video") {
                                        <video muted loop id="imgContent">
                                            <source [src]="item.icon" type="video/mp4">
                                            Votre navigateur ne supporte pas les vidéos.
                                        </video>
                                    }
                                    @default {
                                        <p class="media-content">{{ item.icon }}</p>
                                    }
                                }
                            </div>
                            <mat-card-content id="card-content-media-description">
                                <div id="div-media-description">
                                    <p>
                                        {{item.description}}
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </ng-container>






                </ng-template>





            </p-carousel>

        </mat-card-content>
    </mat-card>
</div>