<div id="bodyFormation">
    <mat-card appearance="outlined">

        <div class="row" style="margin-left: auto; margin-right: auto; width: 100%;">
            <div class="col  d-flex align-items-center justify-content-center">
                <div class="header-image">
                    <img id="imgFormation" [src]="project.icon" alt="icon">
                </div>
            </div>
            <div class="col-10">
                <mat-card-title>{{project.name}}</mat-card-title>
            </div>
        </div>

        <br />
        <mat-card-content>
            {{project.description}}
            <hr/>
            <div id="image" *ngFor="let image of project.images">
                <h4>{{image.title}}</h4>
                <img [src]="image" alt="image">
                <p>{{image.description}}</p>

            </div>
        </mat-card-content>
    </mat-card>
</div>