<mat-card id="example-card" appearance="outlined">
    <mat-card id="banner">
        <img mat-card-image id="imgBanner" src="assets/banner.jpg" alt="">
    </mat-card>

    <mat-card-header>
        <div class="zoom-container">
            <img src="/assets/id.png" alt="id.png" />
        </div>
    </mat-card-header>

    <mat-card-header>
        <div class="row">
            <mat-card-title>LEGOIS Antoine</mat-card-title>
            <mat-card-subtitle>Ingénieur logiciel .NET | Apprenti developper web fullstack</mat-card-subtitle>
        </div>
    </mat-card-header>

    <mat-card-content>


        <hr />

        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>62 rue Lemarrois, Brionne, 27800</div>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-icon matListItemIcon>phone</mat-icon>
                <div matListItemTitle>+33 7 82 84 30 20</div>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-icon matListItemIcon>email</mat-icon>
                <div matListItemTitle>antoine.legois&#64;gmail.com</div>
            </mat-list-item>

            <mat-list-item role="listitem">
                <ng-icon matListItemIcon name="bootstrapLinkedin" />
                <div matListItemTitle><a rel="noopener noreferrer"
                        href="https://www.linkedin.com/in/antoine-legois-372465142/" target="_blank">antoine-legois</a>
                </div>
            </mat-list-item>

            <mat-list-item role="listitem">
                <ng-icon matListItemIcon name="bootstrapCarFrontFill" />
                <div matListItemTitle>Permis B + voiture</div>
            </mat-list-item>


        </mat-list>

    </mat-card-content>

</mat-card>